@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");

/* main styles */
:root {
  --main-color: hsl(0, 0%, 98%);
  --bg-color: #2c2c54;
  --title-color: #706fd3;
  --shadow: #ebe9e9;
  --big_shadow: #dfdfdf;
  --white: #fff;
}
/* :root {
  --main-color: hsl(0, 0%, 15%);
  --bg-color: #8787e1;
  --title-color: #706fd3;
  --shadow: #363636;
  --big_shadow: #3c3c3c;
  --white: rgb(0, 0, 0);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--main-color);
}

hr {
  border-color: var(--title-color);
}

.h-200 {
  /* height: 250px; */
  min-height: 250px;
}

/* =========== start notes ========== */
.main-container {
  padding: 20px 0 50px 0;
}

.page_title {
  color: var(--title-color);
  text-transform: capitalize;
}

.cards {
  gap: 15px;
  padding: 20px;
}

.cards > div {
  flex: 1 1 auto;
  max-width: calc(100% / 4 - 15px);
  box-shadow: 0px 0px 5px 0px var(--shadow);
  position: relative;
  background-color: var(--white);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.cards > div:not(:first-of-type)::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.cards > div:hover {
  box-shadow: 0px 5px 5px 0px var(--big_shadow);
}

.cards > div:not(:first-of-type):hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

.title {
  color: var(--bg-color);
}

.note-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: var(--title-color);
}
.note-icon i {
  border: 2px dashed var(--title-color);
  border-radius: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

.parent-column {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.add-note .description {
  color: #777;
}

input#search {
  padding: 10px 20px;
  margin: 20px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 0px var(--shadow);
}

/* settings */

.settings {
  position: absolute;
  right: 46px;
  bottom: -20px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--shadow);
  opacity: 0;
  visibility: hidden;
  transform: scale(0, 0);
  transition: 0.5s ease;
  z-index: 20;
}
.info {
  justify-content: flex-end !important;
}
.info .row div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.settings li {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s ease;
}

.settings li:hover {
  background-color: #5e54ac;
  color: var(--white);
}

.dots-edit {
  cursor: pointer;
}

.icons:hover .settings {
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
}

.info {
  justify-content: end !important;
}

/* form popop */
.main-popup {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: scale3d(0, 0, 0);
  transition: all 0.4s;
  transform-origin: center top;
}

form {
  background-color: var(--main-color);
  padding: 40px 20px;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  position: relative;
}

.form-label {
  color: var(--bg-color);
}

.form-title {
  text-transform: capitalize;
  color: var(--title-color);
}

.main-popup.open {
  visibility: visible;
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
/* close btn */
.close-btn {
  position: absolute;
  background-color: var(--title-color);
  padding: 20px;
  top: -50px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
}
.canceled {
  background-color: #ccc;
  margin-left: 10px;
}
.addNewBtn {
  background-color: var(--title-color);
  color: var(--main-color);
}
.addNewBtn:hover {
  color: var(--title-color);
  border: 1px solid var(--title-color);
}
.alert_form {
  position: absolute;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  z-index: 111;
  left: 50%;
  top: -115px;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.form_alerts {
  display: block;
  transition: all 0.5s ease;
}
/* responsive */

@media (max-width: 991px) {
  .cards > div {
    max-width: calc(100% / 3 - 15px);
  }
  form {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .cards > div {
    max-width: calc(100% / 2 - 15px);
  }
  form {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .cards > div {
    max-width: calc(100% / 1 - 15px);
  }
  .main-popup {
    padding: 10px;
  }
  form {
    width: 100%;
  }
}
